/**     Estilos    **/

// Reseteos
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Akshar', sans-serif;
}

a {
    text-decoration: none;
	color: inherit;

    &:hover {
        color: inherit;
    }
}   

ul {
    list-style: none;
}

::selection {
    color: white;
    background-color: $color-danger;
}

// Clases y selectores generales
body{
    background-color: #F7F7F7;
}

.flexFullCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control:focus {
    border: solid 1px $color-primary-focus;
    box-shadow: $color-primary-focus 0px 0px 15px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 30px; 

    &__titulo {
        text-align: center;
        width: 100%;

        border: solid black;
        border-width: 2px 0;
        background-image: url("../assets/images/backgrounds/seccion__titulo--alt.webp");
        background-size: cover;
        background-position: center;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }

    &__seccion {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__descripcion {
            text-align: center;
            border: solid black;
            border-width: 2px 0;
            margin-bottom: 50px;
        
            background-image: url("../assets/images/backgrounds/seccion__descripcion.jpg");
            background-size: cover;
            background-position: center;
        }
    }

    &__boton {      /* Estilo para algunos botones en los main */
        color: white;
        background-color: black;
        width: fit-content;
        padding: 10px;

        display: flex;
        justify-content: center;
        align-self: center;

        transition: all .5s;

        &::after {
            font-family: "Font Awesome 5 Free";
            content: " \f061";
            display: none;
            padding-right: 3px;
            vertical-align: middle;
            font-weight: 900;
        }

        &:hover {
            background-color: $color-danger;
            color: antiquewhite;
            filter:contrast(1.5);
            transform: scale(1.2);

            &::after {
                margin-left:10px;
                display: inline-block;
            }
        }
    }
}

// Botones
.btn-primary {
    color: white;
    background-color: $color-primary;
    border: none;

    &:hover {
        color: white;
        background-color: $color-primary-hover;
    }

    &:focus {
        background-color: $color-primary-focus;
        box-shadow: $color-primary-focus 0px 0px 10px;
    }
}

/**     Responsive    **/
@media screen and (max-width: 768px) {
    body {
        padding-bottom: 15vh;
    }
}

/**     Elementos    **/
.boton__fijo {
    color: white;
    border-radius: 100%;

    position: fixed;
    top: auto;
    right: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        color: white;
        filter: brightness(1.1);
        transform: scale(1.05);
    }

    &--whatsApp {
        height: 60px;
        width: 60px;

        background-color: #43CC51;
        font-size: 2.5rem;
        
        bottom: 20px;  
    }

    &--goUp {
        height: 40px;
        width: 40px;

        background-color: $color-danger;
        font-size: 2rem; 
        
        bottom: 20vh;       
    }

}
