/**     Estilos    **/

// Reseteos
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Akshar', sans-serif;
}

a {
    text-decoration: none;
	color: inherit;

    &:hover {
        color: inherit;
    }
}   

ul {
    list-style: none;
}

::selection {
    color: white;
    background-color: $color-danger;
}

// Clases y selectores generales
body{
    background-color: #F7F7F7;
}

img {
    width: 100%;
    height: auto;
}

.form-control:focus {
    border: solid 1px $color-primary-focus;
    box-shadow: $color-primary-focus 0px 0px 15px;
}

.flexFullCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Botones
.btn-primary {
    color: white;
    background-color: $color-primary;
    border: none;

    &:hover {
        color: white;
        background-color: $color-primary-hover;
    }

    &:focus {
        background-color: $color-primary-focus;
        box-shadow: $color-primary-focus 0px 0px 10px;
    }

    &:active:focus {
        box-shadow: rgba(123, 31, 162, .5) 0px 0px 0px 3px;
    }
}

.btn-danger {
    color: white;
    background-color: $color-danger;
    border: none;

    &:hover {
        color: white;
        background-color: $color-danger-hover;
    }

    &:focus {
        background-color: $color-danger-focus;
        box-shadow: $color-danger-focus 0px 0px 10px;
    }
    
    &:active:focus {
        box-shadow: rgba(250, 95, 184, .5) 0px 0px 0px 3px;
    }
}

/**     Elementos    **/
.boton__fijo {
    color: white;
    border-radius: 100%;

    position: fixed;
    top: auto;
    right: 20px;
    z-index: 100;

    @extend .flexFullCenter;

    &:hover {
        color: white;
        filter: brightness(1.1);
        transform: scale(1.05);
    }

    &--whatsApp {
        height: 60px;
        width: 60px;

        background-color: $wpp-color;
        font-size: 2.5rem;
        
        bottom: 20px;  
    }

    &--goUp {
        height: 40px;
        width: 40px;

        background-color: $color-danger;
        font-size: 2rem; 
        bottom: 100px;
        right: 30px;     
    }

}