/* Estilos */
.header {
    // Buscador
    &__buscador {
        height: 20%;
    }

    // Logo
    &__logo {
        &:hover {
            animation: rotate-in-center .9s both;
        }
    }

    // Opciones de cuenta
    &__cuenta {
        font-size: 0.9rem;

        a{
            position: relative;

            &::after {
                content: "";
                height: 1px;
                width: 0;
                background-color: $color-primary-focus;
            
                position: absolute;
                left: 0;
                bottom: 10%;
            
                transition: 0.3s;
            }

            &:hover {
                color: $color-primary-focus;

                &::after {
                    width: 100%;
                }
            }
        }
    }
    
    // Nav
    &__nav {
        text-transform: uppercase;
        background: linear-gradient(338deg, rgba(89,110,141,1) 
        0%, rgba(223,208,231,1) 35%, rgba(225,250,237,1) 100%); 
        border: solid rgb(164, 160, 160);
        border-width: 1px 0;

        .nav-link{
            color: black;
            height: 100%;

            &:hover {
                color: white;
                background-color: $color-primary;
            }
        }

        .activo {
            color: white;
            background-color: $color-primary;
            border: solid 1px black;
            @extend .shadow-pop-bl;
        }

        &__item {
            height: 12vh;

            outline: none;

            > * {
                height: 100%;
                font-size: 1rem;
                @extend .flexFullCenter;

                &:hover {
                    color: white;
                }
            }
        }
    }
}

// Responsive
@media screen and (max-width: 768px) {
    body {
        padding-bottom: 20vh;
    }

    .header__nav {
        min-height: 16vh;
        background: none;
        background-color: blueviolet;

        position: fixed;
        bottom: 0;
        z-index: 1000;
    }
}
