// Acá agrego los estilos de todos los main, ya que por ahora no hay mucho código. Para no tener muchos archivos con poco código.

/**************************************************************/
/*                      GENERALES                             */
/**************************************************************/
.main {
    display: flex;
    flex-direction: column;
    gap: 30px; 

    &__titulo {
        text-align: center;
        width: 100%;

        border: solid black;
        border-width: 2px 0;
        background-image: url("../assets/images/backgrounds/seccion__titulo--alt.webp");
        background-size: cover;
        background-position: center;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }

    &__descripcion {
        text-align: center;
        border: solid black;
        border-width: 2px 0;
        margin-bottom: 30px;
        width: 100%;
        padding: 30px 50px;
    
        background-image: url("../assets/images/backgrounds/seccion__descripcion.jpg");
        background-size: cover;
        background-position: center;
    }

    &__seccion {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__boton {      /* Estilo para algunos botones en los main */
        color: white;
        background-color: black;
        width: fit-content;
        padding: 10px;

        @extend .flexFullCenter;

        transition: all .5s;

        &:hover {
            background-color: $color-danger;
            color: antiquewhite;
            filter:contrast(1.5);
            transform: scale(1.2);
        }

        &--go {     //Si el botón direcciona a alguna parte
            transition: all .5s;

            &::after {
                font-family: "Font Awesome 5 Free";
                content: " \f061";
                display: none;
                padding-right: 3px;
                vertical-align: middle;
                font-weight: 900;
                transition: all .5s;
            }

            &:hover {
                &::after {
                    margin-left:10px;
                    display: inline-block;
                }
            }
        }
    }
}

/**************************************************************/
/*                  INDEX Y TIENDA                            */
/**************************************************************/
.cosplay {
    padding: 10px;
    position: relative;
    background-image: url("../assets/images/backgrounds/cosplay.webp");
    background-repeat: no-repeat;
    background-size: cover;

    transition: all .5s;

    i {     //Icono de carrito
        position: absolute;
        bottom: 0;
        right: 0;
    
        padding: 5px;
        font-size: 1.5rem;
        background-color:#E3A077;
        color: #FCF1EE;
    
        opacity: 0;
        transition: all .5s;
    }

    &:hover {
        transform: scale(1.1);

        i {
            opacity: 1;
        }
    }

    &__imagen {
        object-fit: cover;
    }

    &__footer {
        background-color: rgba($color: #FDE9E2, $alpha: 0.5);
    }
}
//Que el carrito se haga visible en dispositivos touch o si se imprime
@media screen and (pointer:coarse), print, (max-width: 992px) {   
    
    .cosplay{
        i {  //Para que aparezca el carrito en versiones mobile y tablet
            opacity: 1;
        }

        &:hover {
            transform: scale(1); /*Para anular el hover*/
        }
    }
}

/**************************************************************/
/*                           MEDIDAS                          */
/**************************************************************/
.medida {
    height: 200px;
    border: solid black;
    background-image: url("../assets/images/backgrounds/medida.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &__titulo {
        height: 100%;
        width: 100%;
        @extend .flexFullCenter;

        h2 {
            color: black;
            width: 80%;
            padding: 10px;
            border: solid black;
            background-color: white;
            transition: all .3s ease;
        }

        &:hover {
            @include boxOptions (black, '');
            h2 {
                background-color: $color-danger;
                color: white;
            }
        }
    }
}

.main--medidas {
    .modal-body > * {
        height: 60vh;
        width: 100%;
    }
}

/**************************************************************/
/*                          PREGUNTAS                         */
/**************************************************************/
.talles {
    a {
        padding: 5px 20px;
    }
}

.pagos {
    li {
        &::before {
            font-family: "Font Awesome 5 Free";
            content: " \f061";
            display: inline-block;
            margin-right: 5px;
            vertical-align: middle;
            font-weight: 900;
        }
    }

}

.preguntas__contacto{
    width: fit-content;
    
    &:hover {
        animation-play-state: paused;
        color: $color-danger;
    }
}

/**************************************************************/
/*                           CONTACTO                          */
/**************************************************************/
#mensaje--contacto {
    height: 150px;
}

.contacto__redes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    li{
        padding: 5px;
        transition: all .3s;     //No funciona con instagram
        display: flex;
        justify-content: flex-end;
    }

    .instagram:hover {
        background: #f09433; 
        background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
        background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    }

    .telefono:hover {
        background-color: #FF4554;
    }

    .mail:hover {
        background-color: #5E5485;
    }
}