
.medida {
    height: 200px;
    border: solid black;
    background-image: url("../assets/images/backgrounds/medida.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &__titulo {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            white-space: pre-line;
            color: black;
            width: 80%;
            padding: 10px;
            border: solid black;
            background-color: white;
            transition: all .3s ease;
        }

        &:hover {
            backdrop-filter: blur(2px);
            box-shadow: black 0px 5px 15px;
            h2 {
                background-color: $color-danger;
                color: white;
            }
        }
    }
}

.modal-body > * {
    height: 60vh;
    width: 100%;
}