/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body */
body {
    background-color: #F7F7F7;
    font-family: 'Akshar', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header, main {
    margin: 0 5%;
}

/* Modificaciones generales a todos los elementos para manipularlos correctamente */
a {
    text-decoration: none;
	color: inherit;
}   

ul {
    list-style: none;
}

button {
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

input, textarea {
    border: none;
    background-color: transparent;
    outline: none;  /* Para que no tenga borde al clicklearlo*/
}

img, iframe {
    width: 100%;
}

 /*Se usa para que el contenido de una caja esté en formato columna*/
.columnBox{    
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.boton--whatsapp {
    color: white;
    font-size: 2.5rem;
    background-color: #43CC51;
    border-radius: 100%;

    height: 60px;
    width: 60px;

    position: fixed;
    top: auto;
    bottom: 20px;
    right: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Boton de scroll up */
.boton--goUp {
    color: white;
    font-size: 2rem;
    background-color:#E60686;
    border-radius: 100%;

    height: 40px;
    width: 40px;

    position: fixed;
    top: auto;
    bottom: 20px;
    right: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Animaciones generales */
/* Animista */

/* Bounce top */
.bounce-top{animation:bounce-top .9s both}
 @keyframes bounce-top{0%{transform:translateY(-45px);animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{transform:translateY(-24px);animation-timing-function:ease-in}65%{transform:translateY(-12px);animation-timing-function:ease-in}82%{transform:translateY(-6px);animation-timing-function:ease-in}93%{transform:translateY(-4px);animation-timing-function:ease-in}25%,55%,75%,87%{transform:translateY(0);animation-timing-function:ease-out}100%{transform:translateY(0);animation-timing-function:ease-out;opacity:1}}

 /* Rotate in center */
.rotate-in-center{animation:rotate-in-center .6s cubic-bezier(.25,.46,.45,.94) both}
@keyframes rotate-in-center{0%{transform:rotate(-360deg);opacity:0}100%{transform:rotate(0);opacity:1}}

/* Shadow pop */
.shadow-pop-bl{animation:shadow-pop-bl .3s cubic-bezier(.47,0.000,.745,.715) both}
@keyframes shadow-pop-bl{0%{box-shadow:0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e,0 0 #3e3e3e;transform:translateX(0) translateY(0)}100%{box-shadow:-1px 1px #3e3e3e,-2px 2px #3e3e3e,-3px 3px #3e3e3e,-4px 4px #3e3e3e,-5px 5px #3e3e3e,-6px 6px #3e3e3e,-7px 7px #3e3e3e,-8px 8px #3e3e3e;transform:translateX(8px) translateY(-8px)}}

/* Text shadow pop bottom */
.text-shadow-pop-bottom{animation:text-shadow-pop-bottom .6s both}
 @keyframes text-shadow-pop-bottom{0%{text-shadow:0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555;transform:translateY(0)}100%{text-shadow:0 1px #555,0 2px #555,0 3px #555,0 4px #555,0 5px #555,0 6px #555,0 7px #555,0 8px #555;transform:translateY(-8px)}}
  
/* Vibrate 1 */
.vibrate-1{-webkit-animation:vibrate-1 1s linear infinite backwards;animation:vibrate-1 1s linear infinite backwards}
@-webkit-keyframes vibrate-1{0%{-webkit-transform:translate(0);transform:translate(0)}20%{-webkit-transform:translate(-2px,2px);transform:translate(-2px,2px)}40%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}60%{-webkit-transform:translate(2px,2px);transform:translate(2px,2px)}80%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}100%{-webkit-transform:translate(0);transform:translate(0)}}@keyframes vibrate-1{0%{-webkit-transform:translate(0);transform:translate(0)}20%{-webkit-transform:translate(-2px,2px);transform:translate(-2px,2px)}40%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}60%{-webkit-transform:translate(2px,2px);transform:translate(2px,2px)}80%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}100%{-webkit-transform:translate(0);transform:translate(0)}}

html {
    scroll-behavior: smooth;
}

/**************************************************************/
/*                           HEADER                           */
/**************************************************************/

/* Estilos */
header {
    overflow: hidden;   /*Esto es porque sobresale el navbar no sé por qué*/
}

.header__buscador {
    height: 20%;
}

#accountOptions {
    font-size: 0.95rem;
}

.header__box {
    height: 15vh;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__box img{
    height: 100%;
}

/* Media queries */
@media screen and (max-width: 768px) {
    header {
        background: white;
    }

}

/* Animaciones */
.header__logo:hover {
    animation: rotate-in-center .9s both;
}

#accountOptions a {
    position: relative;
}

#accountOptions a:after {
    content: "";
    height: 2px;
    width: 0;
    background-color: #0D6EFD;

    position: absolute;
    left: 0;
    bottom: -5%;

    transition: 0.3s;
}

#accountOptions a:hover:after {
    width: 100%;
}

#header__nav li:hover{
    background-color: lightblue;
}

/**************************************************************/
/*                           FOOTER                           */
/**************************************************************/

/* Estilos */
footer {
    color: white;
    font-size: 1.2rem;
    background-color: #5C5284;
    border-top: solid black 2px;
    overflow: hidden;
}

/* Pagos y Envios*/
.footer__pagos ul, .footer__envios ul { 
    /* Grilla de las imágenes de formas de pago y envíos */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.footer__envios img, .footer__pagos img {
    /* Relación de aspecto para imágenes */
    width: 100%;
    aspect-ratio: 8/5;
    object-fit: cover;
}

/* Newsletter */

/* Redes */
.footer__redes {
    color: black;
    display: flex;
    gap: 10px;
}

.footer__redes i {      /*Icono de cada red*/
    font-size: 3vw;

    height: 5vw;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 100%;

    display: flex; /* Para poder alinearlo */
    justify-content: center;
    align-items: center;
}

/* Logo */
.footer__logo span {
    display: none;
}

.footer__logo {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    overflow: hidden;
}

/* Legales */
.footer__legales {
    color: black;
    background-color: #DFD0E7;
}

/* Animaciones */
/* Nav */
.footer__nav li:hover{
    box-shadow: inset 100px 0 0 0 #E60686;
    color: white;
    padding: 3px;
    transition: all .5s;
}

/* Logo */
.footer__logo{
    position: relative;
}

.footer__logo span {
    position: absolute;
    font-family: 'Quicksand', sans-serif;

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.9); 

    opacity: 0;
    transition: all .5s;
}

.footer__logo span:hover {
    opacity: 1;
}

/**************************************************************/
/*                     MAIN PREGUNTAS                         */
/**************************************************************/

/* Estilos */
.preguntas__contacto {
    padding: 20px;
    border: solid black;
    border-width: 2px 0;
    align-self: center;
    gap: 20px;
}

.preguntas__contacto a span{ 
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase; 

    padding: 10px;
    border-width: 2px;
}

/* Animaciones */
.preguntas__contacto a:hover {
    animation-play-state: paused;
    color: #E60686;
}

/**************************************************************/
/*                     MAIN CONTACTO                          */
/**************************************************************/

/* Animaciones */
.contacto--redes li:hover {
    padding: 5px;
    transition: all 1s;
}

.instagram:hover a, .facebook:hover a, .whatsapp:hover a, .telefono:hover a, .mail:hover a{
    color: #fff;
}

.instagram:hover {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.facebook:hover {
    background-color: #3b5998;
}

.whatsapp:hover {
    background-color: #43CC51;
}

.telefono:hover {
    background-color: #FF4554;
}

.mail:hover {
    background-color: #5E5485;
}

/**************************************************************/
/*                            MAIN                            */
/**************************************************************/
/* Se hace un main general con características generales y además un main por cada html para poder modificar si hace falta cada uno, aunque por el momento no se use queda creado para utilizar en un futuro si hace falta. */

.main {         /* Nota: Cree una clase main para poder anexar dos clases para aplicar  propiedades. Si tenía un main con una clase, sólo aplica las propiedades de la clase y no las de la etiqueta. Pero aplicando una clase, aplica ambas. */
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px; 
}
.main__titulo {
    text-align: center;

    border: solid black;
    border-width: 2px 0;
    background-image: url("../images/backgrounds/seccion__titulo.png");
    background-size: cover;
    background-position: center;
}

.main__titulo h1 {
    font-size: 2rem;
}

.main__seccion {    /* Por defecto las secciones tienen esta configuración*/
    text-align: center;
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.seccion__descripcion {     /*Cada sección tiene su descripción*/
    padding: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-size: large;
    border: solid black;
    border-width: 2px 0;

    background-image: url("../images/backgrounds/seccion__descripcion.jpg");
    background-size: cover;
    background-position: center;
}


/*-------------------------------------Index------------------------------------------*/
.cosplay {
    text-align: center;
    margin: 30px;
    padding: 10px;   

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cosplay img{
    object-fit: cover;
}

.cosplay__descripcion {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


