




/**************************************************************/
/*                            MAIN                            */
/**************************************************************/
/* Se hace un main general con características generales y además un main por cada html para poder modificar si hace falta cada uno, aunque por el momento no se use queda creado para utilizar en un futuro si hace falta. */

.main {         /* Nota: Cree una clase main para poder anexar dos clases para aplicar  propiedades. Si tenía un main con una clase, sólo aplica las propiedades de la clase y no las de la etiqueta. Pero aplicando una clase, aplica ambas. */
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px; 
}
.main__titulo {
    text-align: center;

    border: solid black;
    border-width: 2px 0;
    background-image: url("../images/backgrounds/seccion__titulo.png");
    background-size: cover;
    background-position: center;
}

.main__titulo h1 {
    font-size: 2rem;
}

.seccion__descripcion {     /*Cada sección tiene su descripción*/
    padding: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-size: large;
    border: solid black;
    border-width: 2px 0;

    background-image: url("../images/backgrounds/seccion__descripcion.jpg");
    background-size: cover;
    background-position: center;
}

/**************************************************************/
/*                     MAIN PREGUNTAS                         */
/**************************************************************/

/* Estilos */
.preguntas__contacto {
    padding: 20px;
    border: solid black;
    border-width: 2px 0;
    align-self: center;
    gap: 20px;
}

.preguntas__contacto a span{ 
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase; 

    padding: 10px;
    border-width: 2px;
}

/* Animaciones */
.preguntas__contacto a:hover {
    animation-play-state: paused;
    color: #E60686;
}

/**************************************************************/
/*                     MAIN CONTACTO                          */
/**************************************************************/

/* Animaciones */
.contacto--redes li:hover {
    padding: 5px;
    transition: all 1s;
}

.instagram:hover a, .facebook:hover a, .whatsapp:hover a, .telefono:hover a, .mail:hover a{
    color: #fff;
}

.instagram:hover {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.facebook:hover {
    background-color: #3b5998;
}

.whatsapp:hover {
    background-color: #43CC51;
}

.telefono:hover {
    background-color: #FF4554;
}

.mail:hover {
    background-color: #5E5485;
}

/**************************************************************/
/*                       MAIN INDEX                           */
/**************************************************************/

/* Estilos y animaciones */
.cosplay {
    position: relative;
    background-image: url("../images/backgrounds/cosplay.webp");
    background-repeat: no-repeat;
    background-size: cover;

    transition: all .5s;
}

.cosplay:hover {
    transform: scale(1.1);
}

.cosplay i {
    position: absolute;
    bottom: 0;
    right: 0;

    padding: 5px;
    font-size: 1.5rem;
    background-color:#E3A077;
    color: #FCF1EE;

    opacity: 0;
    transition: all .5s;
}

.cosplay:hover i {
    opacity: 1;
}

/* Media queries */
/*Para que aparezca el carrito en versiones mobile*/
@media screen and (max-width: 992px){  
    .cosplay i{
        opacity: 1;
    }

    .cosplay:hover {
        transform: scale(1); /*Para anular el hover*/
    }
}


